@import 'utilities.scss';

body { 
    background-color: #eee;
    padding: $layout-module-size;
}

.c-button {
    @extend %u-display-flex, %u-flex-total-centered, %u-no-text-decoration, %u-capitalize;
    background-color: rebeccapurple;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(#000, .25);
    color: #fff;
    padding: $layout-module-size / 2;
    transition: all 150ms ease;
    width: 200px;
    
    &:hover {
        background-color: lighten(rebeccapurple, 15%);
    }
    
    &:active {
        box-shadow: none;
        transform: translatey(2px);
    }
}

.c-menu {
    @extend %u-display-flex, %u-flex-direction-column, %u-no-padding-left, %u-no-margin;
    list-style-type: none;
    
    @media (min-width: 1024px) {
        flex-direction: row;
    }
    
    &__item {
        @extend %u-no-padding;
        margin-bottom: 1px;
        
        @media (min-width: 1024px) {
            margin-bottom: 0;
            margin-right: 1px;
        }
    }
    
    &__link {
        @extend %u-display-flex, %u-flex-align-items-center, %u-no-text-decoration;
        background-color: rebeccapurple;
        color: #fff;
        height: 35px;
        padding: $layout-module-size / 2;
        transition: all 150ms ease-out;
        
        @media (min-width: 1024px) {
            justify-content: center;
            width: 150px;
        }
        
        &:hover {
            background-color: lighten(rebeccapurple, 15%);
            
            @media (min-width: 1024px) {
                height: 40px;
            }
        }
    }
}

.c-profile {
    @extend %u-display-flex, %u-flex-direction-column, %u-flex-align-items-center, %u-flex-justify-content-space-between, %u-no-text-decoration;
    background-color: #fff;
    border: rem-calc(1) solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 300px;
    padding: $layout-module-size / 2;
    transition: all 150ms ease-in-out;
    
    @media (min-width: 568px) {
        flex-direction: row;
    }
    
    &:hover {
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05);
        transform: translatey(-2px);
    }
    
    &:active {
        box-shadow: none;
        transform: translatey(2px);
        transition-duration: 85ms;
    }
    
    &__avatar {
        border: 1px solid #ccc;
        border-radius: 50%;
        max-height: 65px;
        max-width: 65px;
        padding: 2px;
        transition: all 150ms ease;
        
        .c-profile:hover & {
            border-color: #55b0c0;
        }
    }
    
    &__content {
        @extend %u-display-flex, %u-flex-direction-column, %u-flex-align-items-center;
        
        @media (min-width: 568px) {
            align-items: flex-end;
        }
    }
    
    &__name {
        @extend %u-text-align-center, %u-bold;
        color: #55b0c0;
        font-size: 25px;
        margin-top: 5px;
            
        @media (min-width: 568px) {
            margin-top: 0;
        }
    }
    
    &__meta {
        color: #999;
        font-size: 15px;
    }
}